___

<p style="text-align: center;"><img src="https://docs.google.com/uc?id=1lY0Uj5R04yMY3-ZppPWxqCr5pvBLYPnV" class="img-fluid"
alt="CLRSWY"></p>

## <p style="background-color:#FDFEFE; font-family:newtimeroman; color:#9d4f8c; font-size:120%; text-align:center; border-radius:10px 10px;">Way to Reinvent Yourself</p>


## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:150%; text-align:center; border-radius:10px 10px;">Practical Tutorial on Data Manipulation with Numpy and Pandas in Python</p>

<img src=https://i.ibb.co/8NdjfdZ/Num-Py-logo.png width="700" height="200">

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:center; border-radius:10px 10px;">What is Numpy? & Why Do We Need It?</p>




## What is NumPy?

NumPy (or Numpy) is a Linear Algebra Library for Python, the reason it is so important for Data Science with Python is that almost all of the libraries in the PyData Ecosystem rely on NumPy as one of their main building blocks.

NumPy or Numeric Python is a package for computation on **homogenous n-dimensional arrays**. In numpy dimensions are called as axes.

**Why do we need NumPy?**

A question arises that why do we need NumPy when python lists are already there. The answer to it is we cannot perform operations on all the elements of two list directly. For example, we cannot multiply two lists directly we will have to do it element-wise. This is where the role of NumPy comes into play.

Numpy is also incredibly fast, as it has bindings to C libraries. For more info on why you would want to use Arrays instead of lists, check out this great [StackOverflow post](http://stackoverflow.com/questions/993984/why-numpy-instead-of-python-lists).

### Numpy is/has;

**POWERFUL N-DIMENSIONAL ARRAYS**<br>
Fast and versatile, the NumPy vectorization, indexing, and broadcasting concepts are the de-facto standards of array computing today.<br>
**NUMERICAL COMPUTING TOOLS**<br>
NumPy offers comprehensive mathematical functions, random number generators, linear algebra routines, Fourier transforms, and more.<br>
**INTEROPERABLE**<br>
NumPy supports a wide range of hardware and computing platforms, and plays well with distributed, GPU, and sparse array libraries.<br>
**PERFORMANT**<br>
The core of NumPy is well-optimized C code. Enjoy the flexibility of Python with the speed of compiled code.<br>
**EASY TO USE**<br>
NumPy’s high level syntax makes it accessible and productive for programmers from any background or experience level.<br>
**OPEN SOURCE**<br>
Distributed under a liberal BSD license, NumPy is developed and maintained publicly on GitHub by a vibrant, responsive, and diverse community. [Source](https://numpy.org/)<br>


## Why do we need it?
To make a logical and mathematical computation on array and matrices, it is needed. It performs these operations way too efficiently and faster than python lists.

## Advantages of NumPy
1. Numpy arrays take less space.
The core of Numpy is its arrays. One of the main advantages of using Numpy arrays is that they take less memory space and provide better runtime speed when compared with similar data structures in python(lists and tuples).NumPy’s arrays are smaller in size than Python lists. A python list could take upto 20MB size while an array could take 4MB. Arrays are also easy to access for reading and writing.
2. The speed performance is also great. It performs faster computations than python lists.
3. Numpy support some specific scientific functions such as linear algebra. They help us in solving linear equations.
4. Numpy support vectorized operations, like elementwise addition and multiplication, computing Kronecker product, etc. Python lists fail to support these features.
5. It is a very good substitute for MATLAB, OCTAVE, etc as it provides similar functionalities and supports with faster development and less mental overhead(as python is easy to write and comprehend)
6. As it is open-source, it doesn’t cost anything, and it uses a very popular programming language, Python, which has high-quality libraries for almost every task. Also, it is easy to connect the existing C code to the Python interpreter.
7. NumPy is very good for data analysis.

## Disadvantages of NumPy

1. Using “nan” in Numpy: “Nan” stands for “not a number”. It was designed to address the problem of missing values. NumPy itself supports “nan” but lack of cross-platform support within Python makes it difficult for the user. That’s why we may face problems when comparing values within the Python interpreter.
2. Require a contiguous allocation of memory: Insertion and deletion operations become costly as data is stored in contiguous memory locations as shifting it requires shifting.

![Capture1.PNG](https://i.ibb.co/FY1q7Xh/uses-of-numpy.png)

[Numpy Source 01](https://www.educba.com/what-is-numpy-in-python/),
[Numpy Source 02](https://www.javatpoint.com/numpy-tutorial),
[Numpy Source 03](https://techvidvan.com/tutorials/python-numpy-tutorial/),
[Numpy Source 04](https://medium.com/analytics-vidhya/introduction-to-numpy-16a6efaffdd7),
[Numpy Source 05](https://data-flair.training/blogs/python-numpy-tutorial/),
[Numpy Source 06](https://www.quora.com/In-Python-what-is-NumPy-How-is-it-used),
[Numpy Source 07](https://fgnt.github.io/python_crashkurs_doc/include/numpy.html),
[Numpy Source 08](https://towardsdatascience.com/a-hitchhiker-guide-to-python-numpy-arrays-9358de570121),
[Numpy Source 09](https://scipy-lectures.org/intro/numpy/array_object.html),
[Numpy Source 09](https://www.educba.com/introduction-to-numpy/)

We will only learn the basics of NumPy, to get started we need to install it!

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:left; border-radius:10px 10px;">Starting with Numpy</p>

## 1) Load the library and check its version, just to make sure we aren't using an older version

In [13]:
import numpy as np

In [14]:
print(np.__version__)

1.24.3
1.24.3

## 2) Create a list comprising numbers from 0 to 9

In [15]:
#Your code
my_list = list(np.arange(0,10))
my_list

## 3) Converting integers to string - this style of handling lists is known as list comprehension.
### List comprehension offers a versatile way to handle list manipulations tasks easily.

In [16]:
#Your code
strings = [str(x) for x in my_list]
strings

## Creating Arrays

#### Numpy arrays are homogeneous in nature, i.e., they comprise one data type (integer, float, double, etc.) unlike lists.

In [17]:
#creating arrays
arr1 = np.array([])


#creating a 3 row x 5 column matrix
my_matrix = np.matrix(arr1)

#creating a matrix with a predefined value
my_matrix = np.full((3, 5), 58)
print('first matrix with pre-defined values: ', my_matrix, sep="\n")
print()
second_matrix = np.zeros((3,5))
print('Second matrix with pre-defined values: ', "\n", second_matrix)
print()

#create an array with a set sequence
set_array = np.arange(1,21,5)
print("Set array: \n", set_array)
print()


#create an array of even space between the given range of values
space_array = np.linspace(0,10,2)
print("Space array: \n", space_array)
print()


#create a 3x3 array with mean 0 and standard deviation 1 in a given dimension
array = np.random.normal(0, 1, (3,3))
print("Array of specified mean and std: \n", array)
print()


#create an identity matrix
id_array = np.identity(3)
print("My first way solution: \n", id_array)
print()
id_array_2 = np.eye(3)
print("My second way solution: \n",id_array_2)
print()
full_array = np.full((3,3), [1])
print("Full-array: \n", full_array)

#set a random seed
np.random.seed()

## Array Indexing

#### The important thing to remember is that indexing in python starts at zero.

In [18]:
x1 = np.array([4, 3, 4, 4, 8, 4])

In [19]:
#assess value to index zero
x1[0] = 15
print("New value of index zero: ", x1[0])
print("-"*30)

#assess fifth value
x1[4] = 58
print("New value for fifth value: ", x1[4])
print("-"*30)

#get the last value
print("Last value: ", x1[-1])
print("-"*30)


#get the second last value
print("Second last value: ", x1[-2])
print("-"*30)

#in a multidimensional array, we need to specify row and column index
multi_array = x1.reshape(2,3)
print("Multidimentional array: \n", multi_array)
print("-"*30)

#1st row and 2nd column value
x2 = np.array([4, 3, 4, 4,1,5,6,7,8,9,10,4]).reshape(3,4)
print("New multidimentional array: \n", x2)
print("-"*30)

print("1st row and 2nd column value: ", x2[0,1])
print("-"*30)

#3rd row and last value from the 3rd column
print("2nd row and last value from the 3rd column: ", x2[2, :4])
print("-"*30)

#replace value at 0,0 index
new_value = x2[0,0] = 58
print("New value for x2[0,0]: ", new_value)
print("-"*30)
print("Last verison of x2: \n", x2)

## Array Slicing

Now, we'll learn to access multiple or a range of elements from an array.

In [20]:
x = np.arange(10)

In [21]:
x

In [22]:
print(x)


#from start to 4th position
print("from start to 4th: ", x[:4])


#from 4th position to end
print("from 4th to end: ", x[3:])


#from 4th to 6th position
print("from 4th to 6th: ", x[3:6])

#return elements at even place
print("even places: ", x[::2])


#return elements from first position step by two
print("elements from first position step by two: ", x[1::2])



#reverse the array
print("First way to reverse array: ", x[::-1])
print("Second way to reverse array: ", list(reversed(x)))
print("Third way to reverse array: ", np.flip(x))

In [23]:
x2

## Array Concatenation

Many a time, we are required to combine different arrays. So, instead of typing each of their elements manually, you can use array concatenation to handle such tasks easily.

In [24]:
#You can concatenate two or more arrays at once.
x = np.array([1, 2, 3])
y = np.array([3, 2, 1])
z = [21,21,21]
z = np.array(z)
concat_array = np.concatenate(((x,y,z)))
print("New array with x, y and z: ", concat_array)
print()
#You can also use this function to create 2-dimensional arrays.
grid = np.array([[1,2,3],[4,5,6]])

md_array = concat_array.reshape(3,3)
print("2D array: \n", md_array)
print()
print("Shape of md_array: ", md_array.shape)
print()
#Using its axis parameter, you can define row-wise or column-wise matrix
print("element of 3rd row and 2nd column: ", md_array[2,1])

Until now, we used the concatenation function of arrays of equal dimension. But, what if you are required to combine a 2D array with 1D array? In such situations, np.concatenate might not be the best option to use. Instead, you can use np.vstack or np.hstack to do the task. Let's see how!

In [25]:
x = np.array([3,4,5])
grid = np.array([[1,2,3],[17,18,19]])


#Similarly, you can add an array using np.hstack
z = np.array([[9],[8]])

result = np.hstack((grid, z))
print(result)

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:left; border-radius:10px 10px;">Let's start with Pandas</p>

![pandas.png](attachment:pandas.png)

In [26]:
import pandas as pd

In [27]:
#create a data frame - dictionary is used here where keys get converted to column names and values to row values.
data = pd.DataFrame({'Country': ['Russia','Colombia','Chile','Equador','Nigeria'],
                    'Rank':[121,40,100,130,11]})
data

In [28]:
#We can do a quick analysis of any data set using:

Remember, describe() method computes summary statistics of integer / double variables. To get the complete information about the data set, we can use info() function.

In [29]:
data.info()

In [30]:
data.describe().T

In [31]:
data.diff

In [32]:
#Among other things, it shows the data set has 5 rows and 2 columns with their respective names.

In [33]:
data.shape

In [34]:
#Let's sort the data frame by Rank - inplace = True will make changes to the data

data.sort_values("Rank",inplace=True)
data

We can sort the data by not just one column but multiple columns as well.

In [35]:
data.sort_values("Rank", ascending=False)

![pandas%20series.png](attachment:pandas%20series.png)

In [36]:
#Series function from pandas are used to create arrays
data = pd.Series([1., -999., 2., -999., -1000., 3.])
data

![pandas%20series2.png](attachment:pandas%20series2.png)

In [37]:
#replace -999 with NaN values
#data.replace(-999, np.nan)


#We can also replace multiple values at once.

data.replace([-999, -1000], np.nan)

Now, let's learn how to rename column names and axis (row names).

In [38]:
data = pd.DataFrame(np.arange(12).reshape((3, 4)),index=['Ohio', 'Colorado', 'New York'],columns=['one', 'two', 'three', 'four'])
data

In [39]:
# Rename column and row names as in the picture
df = data.set_axis(['SanF', 'Colorado', 'New York'], axis=0)
df.set_axis(['one_p', 'two_p', 'three', 'four'], axis=1)

In [40]:
df.index = ['Istanbul', 'Colorado', 'New York']

In [41]:
df

In [42]:
df.rename({"Colorado":"Warsaw","New York":"Ankara"})

Let's proceed and learn about grouping data and creating pivots in pandas. It's an immensely important data analysis method which you'd probably have to use on every data set you work with.

In [43]:
df = pd.DataFrame({'key1' : ['a', 'a', 'b', 'b', 'a'],
                   'key2' : ['one', 'two', 'one', 'two', 'one'],
                   'data1' : np.random.randn(5),
                   'data2' : np.random.randn(5)})
df

In [44]:
#calculate the mean of data1 column by key1

In [45]:
df['data1'].mean()

In [46]:
df['data1'].std()

Now, let's see how to slice the data frame.

In [47]:
dates = pd.date_range('20130101',periods=6)
df = pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD'))
df

In [48]:
#get first n rows from the data frame
n=3
df.head(3)

In [49]:
df.tail()

In [50]:
#slice based on date range
start_date = '2013-01-01'
end_date = '2013-01-04'
df[start_date:end_date]

In [51]:
#slicing based on column names
df[['A','B']]

In [52]:
#slicing based on both row index labels and column names
start_date = '2013-01-02'
end_date = '2013-01-03'
df.loc[start_date:end_date,['A','B']]

In [53]:
df.iloc[[1,3],[0,1]]

In [54]:
#slicing based on index of columns
#returns 4th row (index is 3rd)
df.iloc[3].T

In [55]:
#returns specific rows and columns using lists containing columns or row indexes
df.iloc[[1,5],[0,2]]

Similarly, we can do Boolean indexing based on column values as well. This helps in filtering a data set based on a pre-defined condition.

In [56]:
df

In [57]:
df[df.index == '2013-01-05']

![image.png]()

## <p style="background-color:#9d4f8c; font-family:newtimeroman; color:#FFF9ED; font-size:175%; text-align:left; border-radius:10px 10px;">Thanks!... Keep working to succeed.. </p>